.loginBox {
    background-color: lightgoldenrodyellow;
    text-align: center;
    height: 50vh;
    width: 60vw;
    margin-left: 20%;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.loginPage {
    height: 100vh;
    background-color: black;
}
#email,
#password {
    float: left;
    padding-left: 10rem;
    color: black;
}

.emailInput {
    margin-right: 5rem;
    width: 250px;
}
.passwordInput {
    margin-right: 7.2rem;
    width: 250px;
}
