.loginBox {
    background-color: rgb(183, 183, 218);
    text-align: center;
    height: 50vh;
    width: 65%;
    margin-left: 20%;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.loginPage {
    background-color: white;
}
#email,
#password {
    float: left;
    padding-left: 10rem;
    color: black;
}

.emailInput {
    margin-right: 5rem;
    width: 30%;
}
.passwordInput {
    margin-right: 7.2rem;
    width: 30%;
}
