#experienceList {
    border-radius: 0.7em;
    height: 30px;
    width: 550px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    border: 2px solid rgb(54, 53, 53);
    outline: none;
}

.delete {
    margin-left: 40px;
}
