#notes {
    width: 91%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 0.7em;
    border: 2px solid rgb(54, 53, 53);
    margin-bottom: 20px;
    color: rgb(54, 53, 53);
    outline: none;
}

.updateNotes {
    margin-left: 635px;
}

#notesBtn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
