body {
    font-size: 20px;
    margin-left: 3rem;
}

#notesSection {
    padding-top: 3rem;
    float: left;
}

#notesSection div p {
    float: left;
    margin-top: 0px;
    width: 500px;
}
#notesSection div {
    height: 100px;
}

#notes {
    width: 500px;
    height: 70px;
}

#updateNotes {
    height: 30px;
    width: 150px;
    margin-left: 50%;
}
