/* .optionContainer li:hover,
.optionContainer .highlight {
    background: blue;
    color: #fff;
} */

/* .searchWrapper {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 51.59px;
    position: relative;
} */
